
[
  {kafka_interworking_proxy, 
    [{values, [
      {bootstrap_broker, {"BPP-RUUT-KAFKA01", 9092}},
      {partition_strategy, random},
      {partition_workers, 100},
      {partition_workers_max, 150},
      {downtime_buffer_size, 50},
      {kafka_producer_topic, <<"smart-fleet-data">>},
      {failMessagePath, "home/mpp"}
    ]}
  ]}
].

